extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Name Heading
        h1 Johnny Austen

        //- Development Title
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Biography
        .portfolio-bio
          p
            | I first started out experimenting with websites at aged 14, way back in 2005! My first venture was an online e-sports competition site, called 
            a(href="https://web.archive.org/web/20060413084133/http://www.rdkleague.com/" target="_blank") RDKLeague. 
            | This project involved maintaining the website's html, php & MySQL databases, which were developed by Alex Chittock.
            | Following this, I have run and maintained many wordpress sites since. Some of these include 
            a(href="https://www.boothsbylux.co.uk" target="_blank") Booths By Lux
            |, 
            a(href="https://www.gig-guide.co.uk/" target="_blank") Gig Guide
            |, 
            a(href="https://www.thevocalhub.co.uk" target="_blank") The Vocal Hub
            |  and many more.
            | #[br]#[br]
            | In 2019, I decided to further my knowledge of the web by diving into a number of SEO resources, such as SEMRush's SEO Academy Courses produced by Greg Gifford
            | and the Art of SEO, written by Eric Enge.
            | #[br]#[br]
            | Then, in 2020, I decided to really take my skills to the next level by completing TeamTreehouse's Python Techdegree program. Whilst an exciting an useful
            | introduction to code, I felt I needed a little more grounding to get involved in the kind of projects I really wanted to. This led me to join
            | the thoroughly comprehensive Full Stack Javascript TechDegree, which I completed in January 2021. I am now working on a freelance basis on a variety of projects.
            | #[br]#[br]
            | I am also a passionate runner and Obstacle Course Racer - mostly completing in Spartan Races. My main achievement thus far has been
            | both qualifying for and competing at the Spartan European Championships in Dolomiti, 2019. Whilst all races have been postponed in 2020,
            | I have been consistent with my training and will be completing my first road marathon in April 2021. I'm hoping for Sub 3, but let's see how it goes!


      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Skills List
        ul
          li Full Stack Javascript
          li React
          li NodeJS, Express & Pug
          li jQuery, CSS/DOM
          li Wordpress Management
          li SEO & Content Writing
          li Basic Python Dev
        h6 Contact Info

        //-Contact Info
        ul
          li 
            a(href="tel:447883429286") +44 7883429286
          li
            a(href="mailto:johnnydausten@gmail.com") johnnydausten@gmail.com

        //- Social Media URLs
        a.button.expanded(href='https://www.linkedin.com/in/john-austen-ab612959/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/jmaletto1' target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  